<!-- Begin Contributor Section -->
<section id="contributor" class="contributor">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
	    <h3>{{ site.contributorTitle }}</h3>
            {% for contributor in site.data.contributor %}
            <h5>{{ contributor.group }}</h5>
            <ul class="list-inline">
                {% for element in contributor.elements %}
                <li {% if element.width != null %}style="width: {{ element.width }};"{% endif %}>
                    <a href="{{ element.link }}" target="_blank">
                        <img src="{{ site.baseurl }}/img/contributor/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}

        </div>
    </div> 
</section>
<!-- End Contributor Section -->

