<!-- Begin Organization Section -->
<section id="organization" class="organization">
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1 organization-list">
			<h3 id="organization-title">{{ site.organizationTitle }}</h3>
			<div class="clearfix"></div> 
			<span class="bordered">
				<a href="{{ site.baseurl }}/organization/" class="bottom-section-link waves-effect waves-button waves-light">{{ site.organizationButtonText }}</a>
			</span>
		</div>
	</div>
</section>
<!-- End Organization Section -->
